body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.p-0{
  padding: 0 !important;
}
.m-0{
  margin: 0 !important;
}
.mb-0{
  margin-bottom: 0 !important;
}
.name{
  font-size: 1.2rem;
  line-height: 0.8rem;
}
.education, .address, .email{
  font-size: 0.7rem;
}
.contact-details, .experience{
  margin-top: 0.5rem;
}
#profile{
  border-radius: 50%;
  width: 50%;
  min-height: 50%;
  height: auto;
  margin: auto;
}
.role, .skill{
  text-align: center;
  font-size: 0.7rem;
}
.total-exp-label, .position-exp-label{
 font-size: 0.5rem;
}
.totalExperience, .positionExperience{
  font-size: 0.6rem;
  line-height: 0.2;
 }
.experience .row :first-child, .experience .row :last-child{
  background-color: #f8f8f8;
  padding: 0.2rem 0.1rem !important;
}
.experience .row .s6{
  margin-right: 0.5rem;
}
.card-content{
  padding-bottom: 0px !important;
}